
<!-- form wireless settings  -->
<form>
  <div class="row">
      <div class="col-lg-1 col-md-1 col-xs-1"></div>
          <div class="col-lg-10 col-md-10 col-xs-10">
              <h5 style="font-weight:300; text-transform: uppercase; margin-top: 35px; color:#00a8f2;"> <i class="fa fa-wifi" aria-hidden="true"></i></i> WiFi Details<hr style="margin:0;border-width: 1px; border-color: #00a8f2;"> </h5>
                   <!-- col-lg-1 start and end -->
                    <!-- col-lg-5 col-md-5 col-xs-10 start  left inputs-->
                  <div class="col-lg-6 col-md-6 col-xs-12">
             
                         <label for="male" class="required ">SSID </label>
  								          <input type="text" name="ssid" id="ssid"  class="form "  ng-model="vm.ssid"  required/>
                          <label for="male">WIFI Password</label>
                            <input type="text" name="password" id="password"  class="form" ng-model="vm.password" />
                          <label for="male">Authentication</label>
                             <select type="text" name="security"  class="form "  id="security" ng-model="vm.securitytypes" required>
                           
                          		  <option value="OPEN">Open</option>
                                 <option value="MAC">Mac Authentication</option>
                          		  <option value="WEP">WEP</option> 
                          		  <option value="WPA+TKIP">WPA+TKIP</option>
                          		  <option value="WPA+TKIP/AES">WPA+TKIP/AES</option>
                                <option value="WPA2/WPA">WPA2/WPA</option>
                          		  <option value="WPA+AES">WPA+AES</option>
                          		  <option value="WPA2+AES">WPA2+AES</option>
                          	</select>
                             <label for="male">Data rate</label>
                            <input type="text" name="datarate" id="datarate"  class="form" ng-model="vm.datarate" />
                              
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                         
                          <label for="male">WiFi Standards <a class="btn btn-info btn-xs standard-help" data-toggle="standard-modal" data-target="#standar_modal">?</a></label>
                                <select type="text" name="standard"  class="form "  id="wifi-standards" ng-model="vm.wifistandards" required>
                                    <option value="802.11a">802.11a</option>
                                    <option value="802.11b">802.11b</option>
                                    <option value="802.11g">802.11g</option>
                                    <option value="802.11n">802.11n</option>
                                    <option value="802.11ac">802.11ac</option>
                                </select>
                                
                                

                                 <label for="cb1" class="labels vl-center ">
                                  Do you provide a bandwidth control?
                                </label>
                               
                                      <input id="yes" name="cb1" type="checkbox" class='vi-center' ng-model="vm.dualbandyes"
                                               ng-false-value="'no'" ng-true-value="'yes'" >
                                    <label for="cb1" class="labels"  class="labels vl-center">
                                      YES
                                    </label>
                         
                    </div>


               </div>

          <div class="col-lg-1 col-md-1 col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-xs-10">
        <h5 style="font-weight:300; text-transform: uppercase; margin-top: 35px; color:#00a8f2;"> <i class="fa fa-usd" aria-hidden="true"></i> Payment<hr style="margin:0;border-width: 1px; border-color: #00a8f2;"> </h5>
            <div class="col-lg-6 col-md-6 col-xs-12" >
              <label for="cb1" class="labels vl-center ">
                Is WIFI paid?
              </label>
                    <input id="yes" name="cb1" type="checkbox" class='vi-center' ng-model="vm.paymentfieldyes"
                             ng-false-value="'no'" ng-true-value="'yes'" >
                  <label for="cb1" class="labels"  class="labels vl-center">
                    YES
                  </label>
                    <input type="text" name="ssid" class="form" placeholder="How much per hour" ng-model="vm.paymentfield" ng-if="vm.paymentfieldyes == 'yes' " required/>
              </div>
          </div>
      <div class="col-lg-1 col-md-1 col-xs-1"></div>
  </div>
  <div class="row">
      <div class="col-lg-1 col-md-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-xs-10">
          <h5 style="font-weight:300; text-transform: uppercase; margin-top: 35px; color:#00a8f2;"> <i class="fa fa-database" aria-hidden="true"></i> Limit<hr style="margin:0;border-width: 1px; border-color: #00a8f2;"> </h5>
              <div class="col-lg-6 col-md-6 col-xs-12" >       
                <label for="cb1" class="labels vl-center  ">
               Any time limit?
                </label>
                    <input id="timeyes" name="cb1" type="checkbox" class='vi-center' ng-model="vm.timelimityes" ng-false-value="'no'" ng-true-value="'yes'" >
                <label for="cb1" class="labels"  class="labels vl-center" >
                    YES
                </label>
                <br>
                    <input type="text" name="ssid"   class="form" placeholder="Define time limit" ng-model="vm.timelimitfield" ng-if="vm.timelimityes == 'yes' "  required/>
                      <label for="cb1" class="labels vl-center  ">

                Data usage limit?
                </label>
                    <input id="timeyes" name="cb1" type="checkbox" class='vi-center' ng-model="vm.datausageyes" ng-false-value="'no'" ng-true-value="'yes'" >
                <label for="cb1" class="labels"  class="labels vl-center" >
                    YES
                </label>
                    <input type="text" name="ssid"   class="form" placeholder="What is the limit?" ng-model="vm.datausagefield" ng-if="vm.datausageyes == 'yes' "  required/>
              </div>
          </div>
      <div class="col-lg-1 col-md-1 col-xs-1"></div>
  </div>
  <div class="row">
      <div class="col-lg-1 col-md-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-xs-10">
          <h5 style="font-weight:300; text-transform: uppercase; margin-top: 35px; color:#00a8f2;"> <i class="fa fa-wrench" aria-hidden="true"></i></i> Service <hr style="margin:0;border-width: 1px; border-color: #00a8f2;"> </h5>
              <div class="col-lg-6 col-md-6 col-xs-12" >       
                <label for="cb1" class="labels vl-center  ">
                Do you provide a WiFi service?
                </label>
                    <input id="serviceyes" name="cb1" type="checkbox" class='vi-center' ng-model="vm.serviceyes" ng-false-value="'no'" ng-true-value="'yes'" >
                <label for="cb1" class="labels"  class="labels vl-center" >
                    YES
                <!-- </label>
                    <input type="text" name="service"   class="form" placeholder="Type it" ng-model="vm.timelimitfield" ng-if="vm.timelimityes == 'yes' "  required/> -->
              </div>
          </div>
      <div class="col-lg-1 col-md-1 col-xs-1"></div>
  </div>
</form>
                    <!-- Finish form -->


