
<!-- form wireless settings  -->
<form>
<div class="row">
 <div class="col-lg-1 col-md-1 col-xs-1"></div>
   <div class="col-lg-10 col-md-10 col-xs-10">
              <h5 style="font-weight:300; text-transform: uppercase; margin-top: 35px; color:#00a8f2;"> 
                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Location<hr style="margin:0;border-width: 1px; border-color: #00a8f2;">  
               </h5>

 <div class="col-lg-6 col-md-6 col-xs-6">
    <label for="location" class="required ">Location (Address) </label>
    <input type="text" name="location" id="location"  class="form" ng-model="vm.location" />
  </div>

 
 </div>
  <div class="col-lg-1 col-md-1 col-xs-1"></div>
</div>
  <div class="row">
      <div class="col-lg-1 col-md-1 col-xs-1"></div>
          <div class="col-lg-10 col-md-10 col-xs-10">
              <h5 style="font-weight:300; text-transform: uppercase; margin-top: 35px; color:#00a8f2;"> <i class="fa fa-wifi" aria-hidden="true"></i></i> Basic Wifi Details<hr style="margin:0;border-width: 1px; border-color: #00a8f2;"> </h5>
                   <!-- col-lg-1 start and end -->
                    <!-- col-lg-5 col-md-5 col-xs-10 start  left inputs-->
                  <div class="col-lg-6 col-md-6 col-xs-12">
                  <label for="isp" class="required ">Internet Service Provider </label>
                    <input type="text" name="isp" id="isp"  class="form" ng-model="vm.isp" />
             
                         <label for="male">Network name </label>
  								          <input type="text" name="ssid" id="ssid"  class="form "  ng-model="vm.ssid"  required/>
                          <label for="male">Login Name</label>
                            <input type="text" name="ssid" id="ssid"  class="form "  ng-model="vm.loginname"  required/>
                          <label for="male">WIFI Password</label>
                            <input type="text" name="password" id="password"  class="form" ng-model="vm.password" />
                            <label for="cb1" class="labels vl-center  ">
                                  Is your Wifi paid?
                                </label>
                                  <input id="serviceyes" name="cb1" type="checkbox" class='vi-center' ng-model="vm.paidyes" ng-false-value="'no'" ng-true-value="'yes'" >
                                <label for="cb1" class="labels"  class="labels vl-center" >
                                    YES
                                </label>
                                     <input type="text" name="limitdevices"   class="form" placeholder="How much?" ng-model="vm.paidfield" ng-if="vm.paidyes == 'yes' "  required/>

                               
                             
                                   
                         
                              
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                          <label for="male">Speed (for e.g. 54 Mbps) </label>
                            <input type="text" name="datarate" id="datarate"  class="form" ng-model="vm.datarate" />
                         
                          <label for="male">WiFi Standards <a class="btn btn-info btn-xs standard-help" data-toggle="standard-modal" data-target="#standar_modal">?</a></label>
                                <select type="text" name="standard"  class="form "  id="wifi-standards" ng-model="vm.wifistandards" required>
                                    <option value="Unknown">Unknown</option>
                                    <option value="802.11a">802.11a</option>
                                    <option value="802.11b">802.11b</option>
                                    <option value="802.11g">802.11g</option>
                                    <option value="802.11n">802.11n</option>
                                    <option value="802.11ac">802.11ac</option>
                                </select>
                                 <label for="male">Authentication (Security) </label>
                             <select type="text" name="security"  class="form "  id="security" ng-model="vm.securitytypes" required>
                                <option value="uknown">Unknown</option>
                                <option value="OPEN">Open</option>
                                <option value="MAC">Mac Authentication</option>
                                <option value="WEP">WEP</option> 
                                <option value="WPA+TKIP">WPA+TKIP</option>
                                <option value="WPA+TKIP/AES">WPA+TKIP/AES</option>
                                <option value="WPA2/WPA">WPA2/WPA</option>
                                <option value="WPA+AES">WPA+AES</option>
                                <option value="WPA2+AES">WPA2+AES</option>
                            </select>
                          
                                

                               
                                

                                         
                                </div>


               </div>

          <div class="col-lg-1 col-md-1 col-xs-1"></div>
  </div>
<!--   <div class="row">
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-xs-10">
        <h5 style="font-weight:300; text-transform: uppercase; margin-top: 35px; color:#00a8f2;"> <i class="fa fa-usd" aria-hidden="true"></i> Payment and limits<hr style="margin:0;border-width: 1px; border-color: #00a8f2;"> </h5>
  <div class="col-lg-4 col-md-4 col-xs-4">
     <label for="cb1" class="labels vl-center">PAYMENT</label>
     </div>
      <div class="col-lg-4 col-md-4 col-xs-4">
     <label for="cb1" class="labels vl-center">TIME LIMIT </label>
     </div>
      <div class="col-lg-4 col-md-4 col-xs-4">
        <label for="cb1" class="labels vl-center">DATA USAGE</label>
      </div>
 <div ng-repeat="choice in choices">

      <div class="col-lg-4 col-md-4 col-xs-4">
         
          <input class="form" type="text"  ng-model="choice.payment" placeholder="How much per hour?"/>
      </div> 
      <div class="col-lg-4 col-md-4 col-xs-4">
        
        <input class= "form" type="text" ng-model="choice.timelimit" placeholder="Define time limit">
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4">
        
        <input class="form" type="text" ng-model="choice.datalimit" placeholder="What is the limit?">
      </div>
        <button class="btn btn-default rig"  ng-show="$last" ng-click="removeChoice()">-</button>

 
 
  </div>
   <button class="btn btn-default rig"  ng-click="addNewChoice()">+</button>

       
        
      
  

     







   

    
    
      </div>
         <div class="col-lg-1 col-md-1 col-xs-1"></div>
      </div> -->


  <div class="row">
      <div class="col-lg-1 col-md-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-xs-10">
          <h5 style="font-weight:300; text-transform: uppercase; margin-top: 35px; color:#00a8f2;"> <i class="fa fa-wrench" aria-hidden="true"></i></i> Service <hr style="margin:0;border-width: 1px; border-color: #00a8f2;"> </h5>
              <div class="col-lg-6 col-md-6 col-xs-12" >       
                <label for="cb1" class="labels vl-center  ">
                Do you provide a WiFi service?
                </label>
                <input id="serviceyes" name="cb1" type="checkbox" class='vi-center' ng-model="vm.serviceyes" ng-false-value="'no'" ng-true-value="'yes'" >
                    
                <label for="cb1" class="labels"  class="labels vl-center" >
                    YES
                    </label>
                    <input type="text" name="limitdevices"   class="form" placeholder="Contact details/Phone Number" ng-model="vm.servicefield" ng-if="vm.serviceyes == 'yes' "  required/>
                <!-- </label>
                    <input type="text" name="service"   class="form" placeholder="Type it" ng-model="vm.timelimitfield" ng-if="vm.timelimityes == 'yes' "  required/> -->
              </div>
          </div>
      <div class="col-lg-1 col-md-1 col-xs-1"></div>
  </div>
</form>
                    <!-- Finish form -->


