
<!-- form wireless settings  -->
              <form >
                   <div class="col-lg-1 col-md-1 col-xs-1"></div>
                    <div class="col-lg-10 col-md-10 col-xs-10">
                   <h4 ng-model="vm.wireless">Wireless settings</h4>
                   <!-- col-lg-1 start and end -->
                    <!-- col-lg-5 col-md-5 col-xs-10 start  left inputs-->
                <div class="col-lg-6 col-md-6 col-xs-12">
                         <label for="male">SSID </label>
  								          <input type="text" name="ssid" id="ssid"  class="form" placeholder="SSID name" ng-model="vm.ssid"  required/>
                          <label for="male">WIFI Password</label>
                            <input type="text" name="password" id="password"  class="form" placeholder="Your wifi password" ng-model="vm.password" />
                          <label for="male">Authentication</label>
                             <select type="text" name="security"  class="form" placeholder="SSID name"  id="security" ng-model="vm.securitytypes" required>
                          		  <option value="open">Open</option>
                          		  <option value="web-open-key">WEP Open Key</option> 
                          		  <option value="web-shared-key">WEP Shared Key</option>
                          		  <option value="wpa-personal-tkip">WPA Personal+TKIP</option>
                          		  <option value="wpa-personal-aes">WPA Personal+AES</option>
                          		  <option value="wpa-enterprise">WPA Enterprise</option>
                          		  <option value="wpa2-personal">WPA2 Personal+AES</option>
                          	</select>
               </div> 
               <!-- col-lg-5 col-md-5 col-xs-10 end right inputs -->
               <!-- Start col-lg-5 col-md-5 col-xs-10 start right inputs-->
              <div class="col-lg-6 col-md-6 col-xs-12">
                  <label for="male">Speed</label>
	                   <input type="text" name="capacity" id="capacity"  class="form" placeholder="Speed" id="capacity" ng-model="vm.capacity"  required/>
                  <label for="male">WIFI Standard</label>
                       <select type="text" name="standard"  class="form" placeholder="WIFI Standars"  id="wifi-standards" ng-model="vm.wifistandards"  required>
                    		    <option value="802.11a">802.11a</option>
                    		    <option value="802.11b">802.11b</option>
                    		    <option value="802.11g">802.11g</option>
                    		    <option value="802.11n">802.11n</option>
                    		    <option value="802.11ac">802.11ac</option>
                    		    <option value="802.11ad">802.11ad</option>
                    		    <option value="802.11ah">802.11ah</option>
                        </select>

               </div>
            <!--     <div class="row buttons"> -->
     
               
               <!-- Button Next  -->
             
         <!--      </div> -->

             </div><!-- End col-lg- col-md- col-xs-10 - right inputs -->
            <div class="col-lg-1 col-md-1 col-xs-1"></div>
            </form>
                    <!-- Finish form -->


