

<form >
                 <div class="col-lg-1 col-md-1 col-xs-1"></div>
                   <!-- col-lg-1 start and end -->
                    <!-- col-lg-5 col-md-5 col-xs-10 start  left inputs-->
                <div class="col-lg-10 col-md-10 col-xs-10">
				
					 <h4>Payment</h4>
					
					 	 <div class="col-lg-6 col-md-6 col-xs-12">
					 	 	
							<label for="cb1" class="labels">
									<span>Is WIFI paid?</span>
							</label>
							<input id="cb5" name="cb1" type="checkbox"><label for="cb1" class="labels">
									<span>YES</span>
							</label>
							<input id="cb5" name="cb1" type="checkbox"><label for="cb1" class="labels">
									<span>NO</span>
							</label>
							       <input type="text" name="ssid" id="ssid"  class="form" placeholder="How much" ng-model="vm.ssid"  required/>
						<label for="cb1" class="labels">
									<span>Any time limit?</span>
							</label>
							<input id="cb5" name="cb1" type="checkbox"><label for="cb1" class="labels">
									<span>YES</span>
							</label>
							<input id="cb5" name="cb1" type="checkbox"><label for="cb1" class="labels">
									<span>NO</span>
							</label>
							
                         
                       
  								   
  								           <input type="text" name="ssid" id="ssid"  class="form" placeholder="How much" ng-model="vm.ssid"  required/>

							
							
						</div>	
				
					 <div class="col-lg-1 col-md-1 col-xs-1"></div>
				</form>
				<!-- col-lg-10 end -->

		
