<h3>Conditions</h3>
<div class="form-group">

	   <h4> Is something required to use your WIFI?</h4>
   <select type="text" name="security"  class="form" placeholder="SSID name" ng-model="vm.wificonditions"  required>
		    <option value="volvo">Accepting Terms of Use</option>
		  <option value="saab">Liking our social media profiles</option> 
		  <option value="saab">Downloading file</option>
		  <option value="mercedes">Giving your email address to our newsletter</option>
		    <option value="mercedes">and so on...</option>
		   
	</select>



  		
</div>