
<form class="me-select" >
                   <div class="col-lg-1 col-md-1 col-xs-1"></div>
                   <!-- col-lg-1 start and end -->
                    <!-- col-lg-5 col-md-5 col-xs-10 start  left inputs-->
                <div class="col-lg-10 col-md-10 col-xs-10">
				<h4>Conditions</h4>
					 
                	<!-- form start -->
					  

	   					<h6> Is something required to use your WIFI?</h6>
	   					  <div class="col-lg-6 col-md-6 col-xs-12">
	   					  	
	   					  	<div >
	   					  		<input id="cb5" name="cb1" type="checkbox" class='vi-center'>
									<label for="cb1" class="labels"  class="labels vl-center">
										Special devices 
									</label>
							</div>
							<div >
								<input id="cb5" name="cb1" type="checkbox" class='vi-center'>
									<label for="cb1" class="labels">
										Special settings 
									</label>
							</div>
							<div >
							<input id="cb5" name="cb1" type="checkbox"  class='vi-center'>
							<label for="cb1" class="labels"  class="labels vl-center">
							Accepting terms of use
							</label>
							</div>
								<div >
							<input id="cb5" name="cb1" type="checkbox" class='vi-center'>
							<label for="cb1" class="labels">
							Liking social profile required
							</label>
								</div>
								<div >
							<input id="cb5" name="cb1" type="checkbox"  class='vi-center'>	
							<label for="cb1" class="labels"  class="labels vl-center">
							Downloading pdf file
							</label>
							</div>
						
							
							
	   				
						<!-- <div class="checkbox"> -->
							<!-- <label for="cb1"  >
									Special devices required
									
								</label>
								<input id="cb1" name="cb1" type="checkbox">
							 -->
								
					<!-- 
								<input  name="input" type="text" class="conditioninput" placeholder="Which one?"> -->
					<!-- 	</div> -->
						<!-- <li class="checkbox">
							<input id="cb2" name="cb1" type="checkbox" class='vi-center'>
								<label for="cb1"  class="labels vl-center"> -->
							
							<!-- 	</label> -->
								<!-- <input  name="input" type="text" class="conditioninput" placeholder="List them"> -->
						<!-- </li> -->
					<!-- 	<li class="checkbox">
							<input id="cb3" name="cb1" type="checkbox" class='vi-center'>
								<label for="cb1"  class="labels vl-center"> -->
						<!-- 			
								</label>
						</li>  
								</ul>
						</div> 
						 <div class="col-lg-6 col-md-6 col-xs-12">
						 		<ul id="me-select-list">
						<li class="checkbox">
							<input id="cb4" name="cb1" type="checkbox" class='vi-center'>
								<label for="cb1"  class="labels vl-center"> -->
							<!-- 	Liking social profile required
								</label>
						</li>
						<li class="checkbox">
							<input id="cb5" name="cb1" type="checkbox" class='vi-center'>
								<label for="cb1"  class="labels vl-center">
									Downloading pdf file
								</label>
						</li>
						<li class="checkbox">
							<input id="cb6" name="cb1" type="checkbox" class='vi-center'>
								<label for="cb1"  class="labels vl-center">
									Downloading pdf file
								</label>
						</li>
			 -->
				<!-- 	</div> -->
								</div>
								     <div class="col-lg-1 col-md-1 col-xs-1"></div>
							 
 

				</form>


					   

						<!-- form end -->
		
				<!-- col-lg-10 finish -->
