<div class="col-lg-1 col-md-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-xs-10">

<h3>Legal restrictions</h3>
<h4>Does your country have any legal restrictions? Type them.</h4>
<div class="form-group">
     


                     
                            <textarea name="message" id="message" class=" form textarea"  ng-model="vm.legalrestrictions"placeholder="You are not allowed to..."></textarea>
           


       <div class="pull-right">
           
        </div>
     
  
</div>
</div>
<div class="col-lg-1 col-md-1 col-xs-1"></div>