<form >
                   <div class="col-lg-1 col-md-1 col-xs-1"></div>
                   <!-- col-lg-1 start and end -->
                    <!-- col-lg-5 col-md-5 col-xs-10 start  left inputs-->
                <div class="col-lg-10 col-md-10 col-xs-10">


					<h3>Legal restrictions</h3>
					<h4>Does your country have any legal restrictions? Type them.</h4>
					<!-- form group start  -->
				
						<textarea name="message" id="message" class=" form textarea"  ng-model="vm.legalrestrictions"placeholder="You are not allowed to..."></textarea>
           


  
					</div>
					 <!-- col-lg-10 end  -->
<div class="col-lg-1 col-md-1 col-xs-1"></div>

</form>