
<div class="intro-header ab ng-scope">
</div>

<div class="container aboutus">
        <div class="row">
                <div class="col-md-1
                 col-lg-1 col-xs-1">
               </div>
               <div class="col-md-10 col-lg-10 col-xs-10 firststep">
                Across the world there are different legal settings and requirements for sharing of Internet connections. CommonsNet is a website that reflects these details and makes them transparent to user. The site generates  a human readable file and  a machine readable file of the level of sharing that is offered by someone.
               </div>
                <div class="col-md-1
                col-lg-1 col-xs-1">
               </div>
               </div>
                <div class="row">
              <div class="col-md-1 col-lg-1 col-xs-1"> </div>
               <div class="col-md-10 col-lg-10 col-xs-10"> 
                   <div class="col-md-5 col-lg-5 col-xs-12">
                    <h4>What we do</h4>
                </div>
                <div class="col-md-7 col-lg-7 col-xs-12">
                    <p>  <b> We want to see the world of transparent, shared wifi, which let all people over the world to enjoy unlimited Internet resources and build network community. That's why we focuses on making wireless connection transparent to it users and supporting it sharing. We want people to be provided with clear data about wireless connection they want to use in below section. </b>  </p>
                    <p>
                      </p>
                     <p> <b class="blue"> Settings  </b> - We want people to know what are the basic settings of wireless connection. SSID, password, authentication and standard are all important features for us to get to know while starting using a specific WiFi. Based on that we can say how safe are we, and what is the possibilies of capacity’s trouble or even what kind of devices can we use.  </p>
                        <p> <b class="blue">  Payment </b> - Next, we believe people should get clear information if the wifi they want to use is paid or not, or if they are obliged to keep time limit. </p>
                         <p> <b class="blue"> Conditions </b> - We want also to make people aware of conditions to use wireless connection and let them know what do they need to do in order to connect to offered wifi. </p>
                          <p> <b class="blue"> Legal restrictions </b>  - Finally, we have no doubt that last but not least part of imporant information about wifi are legal restrictions. We don’t want them to be a real boundary or make some trouble for someone due to the lack of knowledge. We want people to be aware of things they are not allowed to do while connecting to Internet in a specific place and be safer as well. </p>
                          

            </div>
            </div>
            <div class="col-md-1 col-lg-1 col-xs-1"> </div>
            </div>
      
            
           
            <div class="row">
                <div class="col-md-1
                 col-lg-1 col-xs-1">
               </div>
               <div class="col-md-10 col-lg-10 col-xs-10 secondstep">
               Supporting Internet users to be provided with clear wifi information is an important voice in increasing standards.
               </div>
                <div class="col-md-1
                col-lg-1 col-xs-1">
               </div>
               </div>
             <div class="row">
              <div class="col-md-1 col-lg-1 col-xs-1"> </div>
              <div class="col-md-10 col-lg-10 col-xs-10">
                   <div class="col-md-5 col-lg-5 col-xs-12">
                <h4> Why we do it</h4>
                </div>
                 <div class="col-md-7 col-lg-7 col-xs-12">
                  <p>As the CommonsNet team we believe wirless connection plays one of the most important role in our everyday life. We believe that a transparency is a key in building high standard and quality of wireless connection as well as making it trustworthy. We have no doubts that if we support Internet users to be provided with clear wifi information we are an important voice in increasing standards.
                  </p>
                  
                    </div>
                </div>
                <div class="col-md-1 col-lg-1 col-xs-1"> </div>
                </div>

              
         <div class="row">
        <div class="col-md-1 col-lg-1 col-xs-1"> </div>
              <div class="col-md-10 col-lg-10 col-xs-10">
                   <div class="col-md-5 col-lg-5 col-xs-12">
              	<h4>Who are we</h4>
                </div>
                 <div class="col-md-7 col-lg-7 col-xs-12">
              	<p> 
                  We are a network of people who believe that network transparency and highest standards are possible. We want to see the trustworthy global network, and feel secured, but not restricted. 
                </p>
              
                  <button type="submit" id="submit" name="submit" class="whitebuttons">Meet our team <i class="fa fa-chevron-right"></i> </button>
                  <button type="submit" id="submit" name="submit" class="whitebuttons">Join CommonsNet <i class="fa fa-chevron-right"></i> </button>


            	</div>
              </div>
                <div class="col-md-1 col-lg-1 col-xs-1"> </div>
            </div>
             <div class="row">
                <div class="col-md-1
                 col-lg-1 col-xs-1">
               </div>
               <div class="col-md-10 col-lg-10 col-xs-10 thirdstep">
             Collect your WiFi information in an orderly and transparent manner using our form, and then  immediately download them or copy the generated code and paste on your Internet website to make them public.
               
               </div>
                <div class="col-md-1
                col-lg-1 col-xs-1">
               </div>
               </div>
            
             <div class="row">
        <div class="col-md-1 col-lg-1 col-xs-1"> </div>
              <div class="col-md-10 col-lg-10 col-xs-10">
                   <div class="col-md-5 col-lg-5 col-xs-12">
            
                <h4>What we can do for you</h4>
                </div>
                 <div class="col-md-7 col-lg-7 col-xs-12">
                <p>CommonsNet can help you to become an important member of community and work with us for our common goal. </p>
                   <p>Using our great website you are able to quickly collect all information about wifi you offered to your customers and provide them in a transparent manner. That helps you to be an active member in building a global transparent network, improving Internet connection's standards and strenghtening people awarness of wifi details to let them choose that is the most convienient to them. 
                   </div>
</p>
            </div>
             <div class="col-md-1 col-lg-1 col-xs-1"> </div>

            </div>
           
      
           <div class="row">
        <div class="col-md-1 col-lg-1 col-xs-1"> </div>
              <div class="col-md-10 col-lg-10 col-xs-10">
                   <div class="col-md-5 col-lg-5 col-xs-12">
              	<h4>What we provide</h4>
                </div>
                <div class="col-md-7 col-lg-7 col-xs-12">
              	<p>CommonsNet loves providing you with a great tool to collect all your wifi details and and wants to enable you to share them with your users. Our simple and easy-to-follow form let you gather WiFi information in a orderly and transparent manner, and then let you immediately download them or copy and paste on your Internet website to make them public. </p>
                <button type="submit" id="submit" name="submit" class="whitebuttons">Learn more <i class="fa fa-chevron-right"></i> </button>
            </div>
            </div>
               <div class="col-md-1 col-lg-1 col-xs-1"> </div>
            </div>
            
       
        </div>
         </div>


