
<div class="container">

        <!-- Heading Row -->
        <div class="row">
          <!-- main col-md-10 -->
            <div class="col-md-10 col-lg-10 col-xs-10">
            	
		              
		                     <h4> CommonsNet helps you to share transparent in details wireless connection, build trustworthy global network and enables people to access the unlimited potential of the internet. </h4>
		     
         </div>
         </div>
        <div class="row">
              <div class="col-md-10 col-lg-10 col-xs-10">
                <h4>What is CommonsNet?</h4>
                    <p>  <b> CommonsNet is an open source app developed as FOSSASIA project during Google Summer of Code 2016.  </b> 
                    </p>
                    <p>We focuses on making wireless connection more transparent to its users and supporting its sharing. We want people to be provided with clear data about wireless connection they want to use in four separated section.
                      </p>
                     <p> <b> Settings  </b> - We want people to know what are the basic settings of wireless connection. SSID, password, authentication and standard are all important features for us to get to know while starting using a specific WiFi. Based on that we can say how safe are we, and what is the possibilies of capacity’s trouble or even what kind of devices can we use.  </p>
                        <p> <b>  Payment </b> - Next, we believe people should get clear information if the wifi they want to use is paid or not, or if they are obliged to keep time limit. </p>
                         <p> <b> Conditions </b> - We want also to make people aware of conditions to use wireless connection and let them know what do they need to do in order to connect to offered wifi. </p>
                          <p> <b> Legal restrictions </b>  - Finally, we have no doubt that last but not least part of imporant information about wifi are legal restrictions. We don’t want them to be a real boundary or make some trouble for someone due to the lack of knowledge. We want people to be aware of things they are not allowed to do while connecting to Internet in a specific place and be safer as well. </p>


            </div>
              <div class="col-md-10 col-lg-10 col-xs-10">
                  
                <h4>What can CommonsNet do for me? </h4>
                <p>CommonsNet can help you to be an important member of CommonsNet community and work with us for our common goal. </p>
                   <p>You wiill be able to quickly collect all information about wifi you offered to your customers and provide them in a transparent manner using our user-friendly form and prepared pdf file. Our form is divided into four sections like wireless settings, payment, conditions and legal restrictions. which can help you to inform your Internet users about these important part of wireless connection in an transparent and easy-to-understand way.
</p>
            </div>
         <div class="col-md-10 col-lg-10 col-xs-10">
                 <div class="missiondiv">
              	<h4> Mission </h4>
              	<p> </p>
            	</div>
            </div>
              <div class="col-md-10 col-lg-10 col-xs-10">
              	 <div class="visiondiv">
              	<h4>Vision </h4>
              	<p>As a CommonsNet team we believe that we can build a wide range of transparent access to wireless connection - whereever you are in order to enable Internet users to enjoy clear wifi information and strengthen people’ awarness what they use and let them choose what is the most convient to them. In the same time we also support increasing wifi standards, because as it becomes an important factor while choosing a specific place to stay or to connect in order to successfully compete with others and gather more customers, owners will take more attention on providing high quality Internet connection.</p>
              	  </div>
            </div>
                <div class="col-md-10 col-lg-10 col-xs-10">
              	<h4>What we provide?</h4>
              	<p>CommonsNet loves providing  you with a great tool to collect all your wifi details and enable you to share them with your users. We have prepared a simple and  easy-to-follow form to let you gather WiFi information in a orderly and transparent manner, and then let you immediately download them or copy and paste on your Internet website to make them public. </p>
            </div>
            
       
        </div>


