<div class="col-lg-1 col-md-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-xs-10">

        <!-- Heading Row -->

           <div class="form-group">
		
                <h5>Congratulations. You have generated your WiFi details.<br> Choose button to save pdf file or to copy code to add to your website.</h5>
               

               		  <button ng-disabled="vm.currentStep != vm.steps.length" class="form-btn"  type="button" ng-click="vm.save()"> <i class="fa fa-floppy-o"></i>SAVE</button>
                  <!--   <button class="form-btn homebutton" ng-click="vm.save()"> Download pdf</button>   -->

         </div>


         </div>

       <div class="col-lg-1 col-md-1 col-xs-1"></div>