<form >
                   <div class="col-lg-1 col-md-1 col-xs-1"></div>
                   <!-- col-lg-1 start and end -->
                    <!-- col-lg-5 col-md-5 col-xs-10 start  left inputs-->
                <div class="col-lg-10 col-md-10 col-xs-10">

        <!-- Form group start -->

          
		
                <h4>Congratulations. You have generated your WiFi details.<br> Choose button to save pdf file or to copy code to add to your website.</h4>
               
                    <!-- Button ng-click call to function vm.save created in Javascript and AngularJS -->
               		   <button ng-disabled="vm.currentStep != vm.steps.length" class="form-btn"  type="button" ng-click="vm.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i>SAVE
                     </button>
            
         </div>
      <!-- Form group end -->
<div class="col-lg-1 col-md-1 col-xs-1"></div>
      </form>
      <!-- col-lg-1 start -->
