<div class="container contactcontainer">
        <!-- Heading Row -->
        
        
                <div id="messages" class="alert alert-success" ng-show="message">
                        {{ message }}
                </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="row">
                
                    <!-- Form -->
                
                     <div class="col-lg-7 col-md-7 col-xs-7">
                         <div class="row">
                        <h1 class="hcontact black"> <b> {{title}} </b> </h1>
                        <p> {{ subtitle }} </p>
                            <form name="myForm" id="contact-us" ng-submit="submitForm()" >
                        <!-- Left Inputs -->
                       
                                <!-- Name -->
                                <span  ng-show="myForm.nameInput.$dirty && myForm.nameInput.$invalid">The name is required!</span> 
                                    <input type="text" name="nameInput" id="name" ng-model="nameInput" class="form" placeholder="Name" ng-change="submit()" required />
                                <!-- Email -->
                                <span ng-show="myForm.nameMail.$dirty && myForm.nameMail.$invalid"></span>
                                <span ng-show="myForm.nameMail.$dirty && myForm.nameMail.$invalid">Email is required!</span>

                                <span ng-show="myForm.nameMail.$error.pattern">Not a valid email form!</span>
                                    <input type="email" name="nameMail" id="mail" ng-model="nameMail" class="form" placeholder="Email" ng-pattern="/\S+@\S+\.\S+/" ng-change="submit()" required/>
                                <!-- Subject -->
                                 <span  ng-show="myForm.subjectInput.$dirty && myForm.subjectInput.$invalid">The subject is required!</span>
                                    <input type="text" name="subjectInput" id="subject"  ng-model="subjectInput" class="form" placeholder="Subject" ng-change="submit()" required/>
                                <!-- Message -->
                                <span  ng-show="myForm.messageInput.$dirty && myForm.messageInput.$invalid">The message is required!</span>
                                    <textarea type="text" name="messageInput" id="message" class="form textarea" ng-model="messageInput" placeholder="Message"  ng-change="submit()" required> </textarea>   
                                <!-- Send Button -->
                                <button type="submit" class="form-btn" >Send Message</button> 
                            </form>
                  
                        <!-- End Left Inputs --> 
                        </div>
                  
                   
                    <div id="mailing" class="row">
                        <h3 class="hcontact"> <b> {{ title2 }} </b> </h3>
                        <p> {{ subtitle2 }} </p>
                        <ul> 
                            <li ><h4> {{ address }} </h4> </li>
                        </ul>

                    </div>
                    <div id="reportbugs" class="row">
                        <h3 class="hcontact"><b> {{ title3 }} </b> </h3>
                        <p> {{ subtitle3 }} <a class="sidebar-menu" href="http://github.com/fossasia/CommonsNet"> or you can create an issue on GitHub.</a> </p>
                    </div>
                  
                    <div id="getinvolved" class="row" >
                        <h3 class="hcontact"><b> {{ title5 }} </b> </h3>
                            <p> {{ subtitle5 }} </p>
                        <h4 class="hcontact"> <b> {{ subtitle8 }} </b> </h4>
                        <p> {{ subtitle88 }} <a class="sidebar-menu" href="http://commonsnet.herokuapp.com/#/generate-wifi"> using our great tool. </a></p>
                        <h4 class="hcontact"> <b> {{ subtitletitle6 }}  </b> </h4>
                            <li> <a class="sidebar-menu" href="https://twitter.com/Commons_Net"> Follow us on Twitter </li>
                            <li> <a class="sidebar-menu" href="https://www.facebook.com/CommonsNetApp" > Find us on Facebook </a> </li>

                         <h4 class="hcontact"> <b> {{ subtitletitle7 }}  </b> </h4>
                         <li> <b> {{  subtitle77 }} </b> <a class="sidebar-menu" href="https://github.com/fossasia/CommonsNet"> Join us on GitHub </a>
                         </li>
                   
                       
                    </div>
                      <div id="faq" class="row">
                          <h3 class="hcontact">{{ title9 }}</h3>
                          
                        </div>
                    </div>
                    
           
                    
                    
                    <div class="col-lg-4 col-md-4 col-xs-4 space"> 
                        <div id="input" class="row">
                        <section>
                            <h4 class="hcontact">{{ title4 }}</h4>
                                <ul class="child-sidebar-menu">
                                    <li >
                                        <a class="sidebar-menu" href="http://commonsnet.herokuapp.com/#/contact#">FAQ</a>
                                    </li>
                                    <li>    
                                        <a class="sidebar-menu" href="http://commonsnet.herokuapp.com/#/contact#getinvolved">Get Involved</a>
                                    </li>
                                    <li>
                                        <a class="sidebar-menu" href="http://commonsnet.herokuapp.com/#/contact#mailing">Mailing List</a>
                                    </li>
                                    <li>
                                        <a class="sidebar-menu" href="http://commonsnet.herokuapp.com/#/contact#reportbugs">Report bugs</a>
                                    </li>

                                </ul> 
                            </section>
                        </div>
                        <div class="row">
                            <section>
                            <span>
                                <h4 class="hcontact"><i class="fa fa-envelope-o" aria-hidden="true"></i> Connect with CommonsNet</h4> 
                                
                                </span>
                                <div>
                                    <form>
                                      
                                        <span>
                                            <input class="form" placeholder="Your email address" type="email" required="">
                                            <button class="form-btn bt" type="submit">Sign up</button>
                                        </span>

                                       

                                    </form>
                                </div>
                            </section>
                        </div>
                      
                    </div>
                 


             


                    <!-- Your Mail Message -->
                

               <!-- End Contact Form Area -->
               
            

         
        </div><!-- End Inner -->
       
 </div>
            
         
         
            

 		
  	
 		

