<div class="container file">
	<div class="col-lg-12 col-md-12 col-xs-12">
   		<div class="col-lg-8 col-md-8 col-xs-12">
			<div class="row">
        		<h3 class="lefta"> {{ ssid }}  Wireless Settings </h3>
         	</div>
         	<div class="row">
         		<h4>Preamble </h4>

   				<p>Across the world there are different settings and requirements for sharing of Internet connections and specifically Open Wifi connections.This document is an attempt to show those details and make them transparent to our Wifi users.</p>

   				<p>The file is a way of formalizing the interaction between an Owner of network and an User.</p>


            </div>
         	<div class="row">
         		<h4>1. Basic details: </h4>
	         		<div ng-if="ssid && ssid != 'undefined' ">
	         			<p> The Owner provides network connection. The SSID is {{ ssid }} </p>
	         		</div>
	         		<div ng-if="password && password != 'undefined' ">
	         			<p> The Owner informs that there is password is {{ password }} </p>
	         		</div>
	         		<div ng-if="password == 'undefined' ">
	         			<p> The Owner informs that there is no password </p>
	         		</div>
	         		<div ng-if="security == 'undefined' ">
	         			<p> The Owner informs that network is open and not secured </p>
	         		</div>
	         		<div ng-if="security && security != 'undefined' && security != 'OPEN'">
	         			<p> The Owner informs that network is secured under {{ security }} </p>
	         		</div>
	         		<div ng-if="security == 'OPEN' ">
	         			<p> The Owner informs that network is open </p>
	         		</div>
	         		<div ng-if="standard && standard != 'undefined'">
	         			<p> The Owner informs that network uses {{ standard }} standard </p>
	         		</div> 
                    <div ng-if="ban_control == 'yes' && ban_control != 'undefined' ">
                        <p> The Owner declares to provide bandwidth control </p>
                    </div>

            </div>
            <div class="row">
            	<h4>2. Limits: </h4>
            		<div ng-if="limits && limits != 'undefined' ">
            			<p>The Owner declares that there are some limits different limited options to use Wifi</p>
                        <ul>
                            <li ng-repeat="x in limits"> Paid: {{ x.payment }} Time Limit: {{ x.timelimit }}  Data Usage Limit: {{ x.datalimit }} </li>
                        </ul>
            		</div>
            		<div ng-if="limits == 'undefined' ">
        				<p> The Owner declares that Wifi connection is completely free of any charge. </p>
        			</div>
            		

            </div>

            <div class="row">
				<h4>3. Service: </h4>
					<div ng-if="service == 'undefined' ">
						<p> The Owner does not guarantee Wifi service </p>
					</div>
					<div ng-if="service && service != 'undefined' ">
						<p> The Owner guarantees Wifi service </p>
					</div>

            </div>
            <div class="row">
            	<h4>4. Terms of Use: </h4>
            		<div ng-if="specialdevices == 'undefined' && specialsettings == 'undefined' &&  acceptterms == 'undefined' && liking == 'undefined'  &&  downloading == 'undefined' && captiveportal == 'undefined' && register == 'undefined' && newsletter == 'undefined'  && mobilenumber == 'undefined' && emailaddress == 'undefined' && personaldetails == 'undefined' && autodisable == 'undefined' &&  rnumber == 'undefined' ">
            			<p> The Owner declares that there are not any requirements to use wifi </p>
            		</div>
            		<div ng-if="specialldevices == 'yes' || specialsettings == 'yes' || acceptterms == 'yes' || liking == 'yes' || downloading == 'yes' || captiveportal == 'yes' || newsletter == 'yes' || register == 'yes' || mobilenumber == 'yes' || emailaddress == 'yes' || personaldetails == 'yes' || autodisable == 'yes' || rnumber == 'yes' ">
            			<p> The Owner declares that there are some requirements to use Wifi connection </p>
                       
            		</div>
            		<div ng-if="specialdevices == 'yes'"> 
            			<p> The Owner declares that to use Wifi you are required to have a dedicated harware </p>
            		</div>
            		<div ng-if="specialdevicesfield && specialdevicesfield != 'undefined'">
            			<p> The Owner declares that a dedicated harware means devices like these {{ specialdevices }} </p>
            		</div>
            		<div ng-if="specialsettings == 'yes'"> 
            			<p> The Owner declares that to use Wifi special settings are required </p>
            		</div>
            		<div ng-if="specialsettingsfield && specialsettingsfield != 'undefined' ">
            			<p> The Owner declares that a special settings mean settings like these {{ specialdevices }} </p>
            		</div>
            		<div ng-if="acceptterms == 'yes' "> 
            			<p> The Owner declares that to use Wifi users are obliged to accept terms of use </p>
            		</div>
            		<div ng-if="liking == 'yes' ">
            			<p> The Owner declares to use Wifi connection users are obliged to like The Owner social profile </p>
            		</div>
            		<div ng-if="downloading == 'yes'">
            			<p> The Owner declares to use Wifi connection users are obliged to download a terms of use file </p>
            		</div>	
                    <div ng-if="captiveportal == 'yes' ">
                        <p> The Owner declares to use Wifi connection users are obliged to register using captive portal </p>
                    </div>  
                    <div ng-if="newsletter  == 'yes' ">
                        <p> The Owner declares to use Wifi connection users are obliged to sign up to newsletter </p>
                    </div>  
                    <div ng-if="register == 'yes' ">
                        <p> The Owner declares to use Wifi connection users are obliged to register to the Owner's website </p>
                    </div>  
                    <div ng-if="mobilenumber == 'yes' ">
                        <p> The Owner declares to use Wifi connection users are obliged to give a mobile number.</p>
                    </div>
                    <div ng-if="emailaddress == 'yes' ">
                        <p> The Owner declares to use Wifi connection users are obliged to give an email address.</p>
                    </div>  
                    <div ng-if="personaldetails == 'yes' ">
                        <p> The Owner declares to use Wifi connection users are obliged to personal details like age, gender.</p>
                    </div>  
                    <div ng-if="autodisable == 'yes' ">
                        <p> The Owner declares to use Wifi connection users are obliged to disable auto update function on their devices. </p>
                    </div>  
                     <div ng-if="rnumber == 'yes' ">
                        <p> The Owner declares to use Wifi connection users are obliged to have a reference numbers which they can get from the Owner. </p>
                    </div> 

			</div>
           
            <div class="row">
            	<h4>5. Restrictions </h4>
                <div ng-if="ownrestr == 'yes' && ownrestfield != 'undefined' ">
                    <p> The Owner informs that he forbids some activities in his network </p>
                </div>
                <div ng-if="ownrestr && ownrestfield != 'undefined' ">
                    <p> The Owner informs these activities are: {{ ownrestfield }} </p>
                </div>
            	<div ng-if="restrictions == 'yes'">
            		<p>The 0wner informs that under the law some activities are forbidden </p>
            	</div>
            	<div ng-if="restrictions == 'undefined' ">
            		<p>The 0wner informs that there are not known to him any legal restriction to use Wifi connection, using Internet resources or taking actions in the network </p>
            	</div>
            	<div ng-if="country != 'undefined' && law != 'undefined' ">
            		<p>The 0wner informs that under the law of {{ country }} users are not allowed to {{ law }}</p>
            	</div>
            </div>
            <div class="row">
            	<h4>Definition of terms </h4>
            	<p> The Owner: The Owner is an entity which provides a wireless network. </p>
                <p> The User: The User is an entity who uses a wireless network. </p>
                <p> The Service: The Service means that the Owner takes care of used hardware, update the firmare and solve connection's troubles. </p>
            </div>
        </div>
    </div>
</div>

