

  
 <div class="container-fluid generatewificontanier">

 	 
      <div class="row">
       
 <div class="col-md-1 col-lg-1"></div>
 
      <div class="col-md-10 col-lg-10 col-xs-12 generate">
      
          
             <div id="wizard-container" ng-controller="WizardController as vm">
                      
            <div id="wizard-step-container">
             
              <ul class="progress-indicator wizard"> 
                <li class="completed" ng-repeat="step in vm.steps" ng-class=" {'active':step.step <= vm.currentStep} "> <span class="bubble"> </span> <a class="awizard"ng-click="vm.gotoStep(step.step)" href="">{{step.name}}</a> </li> 
             

                
              </ul>
               <button ng-disabled="vm.currentStep <= 1"  id="left" class="btn btn-default" name="previous" type="button" ng-click="vm.gotoStep(vm.currentStep - 1)"> BACK</button>

                  <button ng-disabled="vm.currentStep >= vm.steps.length" id="right" name="next"   class="btn btn-default" type="button" ng-click="vm.gotoStep(vm.currentStep + 1)">NEXT </button>
            </div>
           
            <div id="wizard-content-container">
              <ng-include src="vm.getStepTemplate()"></ng-include>
            </div>

            
            
            

          </div>

         
        </div>
          
      <div class="col-md-1 col-lg-1"></div>
 

                </div>
                    </div>

     
  
      