
<h2>{{title}}</h2>

  
 <div class="container">

 	 
      <div class="row">
       

       <div class="col-md-1 col-lg-1"></div>
        <div class="col-md-10 col-lg-10 col-xs-12">
          
         
          <div id="wizard-container" ng-controller="WizardController as vm">
                      
            <div id="wizard-step-container">
              <ul class="nav nav-pills nav-justified">

                <li ng-repeat="step in vm.steps" ng-class="{'active':step.step == vm.currentStep}"><a ng-click="vm.gotoStep(step.step)" href="">{{step.step}}. {{step.name}}</a></li>
                 <button ng-disabled="vm.currentStep <= 1" class="form-btn" id="left" name="previous" type="button" ng-click="vm.gotoStep(vm.currentStep - 1)"><i class="fa fa-arrow-left"></i> BACK</button>

                  <button ng-disabled="vm.currentStep >= vm.steps.length" class="form-btn" id="right" name="next" type="button" ng-click="vm.gotoStep(vm.currentStep + 1)">NEXT <i class="fa fa-arrow-right"></i></button>
              </ul>
            </div>

            <div id="wizard-content-container">
              <ng-include src="vm.getStepTemplate()"></ng-include>
            </div>

            
            
              <div class="pull-right">
                
                 
            
            
                <button ng-disabled="vm.currentStep != vm.steps.length" class="form-btn" name="next" type="button" ng-click="vm.save()"> <i class="fa fa-floppy-o"></i> Save</button>
              </div>
     

          </div>
              <div class="col-md-1 col-lg-1"></div>
          
        </div>
     
      </div>
      
    </div>
      