
    <div class="intro-header agata">

        <div class="container-main ">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>CommonsNet</h1>
                         <button type="submit" id="submit" name="submit" class="form-btn semibold">Learn More</button> 
                       
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Transparent WIFI</h2>
                    <p class="lead">A special thanks for providing the photographs that you see in this template. Visit their website to become a member.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Share your WIFI</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    
                </div>
            </div>

        </div>
        <!-- /.container

    </div> -->
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and</h2>
                    <p class="lead">This template features the 'Lato' font, part of the icons from Font Awesome </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

     </div>
    <!-- /.content-section-a -->

