
    <div class="intro-header agata">

        <div class="container-main ">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>CommonsNet</h1>
                         <button type="submit" id="submit" name="submit" class="form-btn semibold"><a href="#/about-us">Learn more <a></button> 
                       
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="services"></a>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
               <!--  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6"> -->
                   
                    <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-4x fa fa-home text-primary" sr-icons data-sr-id="2" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
                        <h3>Find</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
              <!--   </div> -->
                   <!--  <h2 class="section-heading">Share your WIFI</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by Visit their website to download some of their awesome, free photoshop actions!</p> -->
                  
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-info text-primary sr-icons" data-sr-id="3" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
                        <h3>Inform</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <!-- <div class="col-lg-5 col-sm-pull-6  col-sm-6"> -->
                    
                  <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-wifi text-primary sr-icons" data-sr-id="3" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
                        <h3>Connect</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                  <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-share-alt text-primary sr-icons" data-sr-id="3" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
                        <h3>Share</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
            </div>

        </div>
       <!--  /.container -->
    </div>
        <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0">
                 
                    <h2 class="section-heading">Generate WiFi</h2>
                      <p class="lead">A special thanks for providing the photographs that you see in this template. Visit their website to become a member.</p>
                       <button type="submit" id="submit" name="submit" class="form-btn semibold"> <a href="#/generate-wifi">GENERATE <a> </button>
                     
                </div>
                <div class="col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0">
                  </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
  </div>
 
    </div>

     </div>
  


