
<div class="container-fluid">

        <!-- Heading Row -->
        <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 picture">
                     
                          <h1>{{title}}</h1>
                           <a class="form-btn homebutton" href="#/about-us">Learn more</a>
                     
             
           
        </div>
           </div>
              </div>

<div class="container">
        <div class="row">
           
            <div class="col-md-12 col-lg-12 col-xs-12">
            
                   
                   
            </div>
             
           
        </div>
   </div>

<div class="container">
        <div class="row">
             <div class="col-md-12 col-lg-12 col-xs-12 generatewifi">
                <h2>Generate your WiFi</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta gquibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                    <a class="form-btn homebutton" href="#/generate-wifi">Generate</a>
            </div>
                 </div>

            <div class="row">
          
            <div class="col-md-8 col-lg-8 col-xs-12 video">
                <iframe width="700" height="350"
                    src="https://www.youtube.com/embed/?v=NdhuMP2gAhw&index=2&list=PL6gx4Cwl9DGC04FAovs0lswXTPXeomOR">
                </iframe>
            </div>
             <div class="col-md-4 col-lg-4 col-xs-12 video">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta gquibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            </div>
           
            
       
        </div>
   
      

      </div>
