
<form method="post" action="/users/register">
    <div class="container register">
        <div class="col-lg-6 col-md-6 col-xs-6 col-lg-offser-3 col-md-offset-3 col-xs-offset-3">
            <h3> Register</h3>
            <div class="alert alert-danger">
            </div>
            <div class="form-group">
                <label> Name </label>
                <input type="text" class="form-control" placeholder="name" name="username">
            </div>
            <div class="form-group">
                <label>Email </label>
                <input type="email" class="form-control" placeholder="email" name="email">
            </div>
            <div class="form-group">
                <label> Password </label>
                <input type="password" class="form-control" placeholder="password" name="password" >
            </div>
            <div class="form-group">
                <label> Confirm password </label>
                <input type="password" class="form-control" placeholder="password2" name="password2" >
            </div>
            <button type="submit" class="btn btn-default"> Submit</button>
        </div>
    </div>
</form>

